{{define "Tasks"}}
<html>

<head>
  <h1>Tasks Manager</h1>
</head>

<body>
  {{ range .Tasks }}
  {{if not .Completed}}
  <div>
    <form method="POST" action="./task/{{ .ID }}/complete">
      <input class="form-check-input" name="done" type="checkbox" value="true" onChange="this.form.submit()">
      <label><b>{{ .Title }}</b>: {{.Description}} {{.Completed}}</label>
    </form>
  </div>
  {{end}}
  {{ end }}
</body>
<p></p>

<h3>Create new task</h3>
<form method="post" action="./tasks/create">
  <input placeholder="Task title" type="text" name="title"></input>
  <br>
  <input placeholder="Description" type="text" name="description"></input>
  <br>
  <input placeholder="priority" type="text" name="priority"></input>
  <br>
  <input type="submit" value="Submit">
</form>

<p></p>

<form onsubmit="window.location = './delete'; return false;">
  <input type="submit" value="Delete this folder">
</form>

</html>
{{end}}
